.filter {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 90%;
	position: absolute;
	bottom: -3rem;
	left: 50%;
	translate: -50%;
}
.filter .bt {
	display: flex;
	flex-direction: row;
	gap: 0.2rem;
	justify-content: center;
	align-items: center;
}
.filter .searchbar {
	background-color: white;
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
 .filter .container {
	padding: 0;
}
.filter .option {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1%;
	flex: 1;
	flex-wrap: wrap;
	text-align: left;
	height: 100%;
	border-right: rgba(100, 96, 96, 0.635) solid 1px;
}
.filter .option div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.3rem;
	padding: 0;
	padding-left: 0.5rem;

	color: rgba(171, 164, 164, 0.329) !important;
}
.filter .option p {
	padding: 0%;
	padding-left: 0.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.filter .searchbar input {
	border: none;
	outline: none;
}
.filter .Search {
	text-align: center;
	background-color: var(--primary-color);
	margin: 0;
	overflow: hidden;
}