.block{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.carousel{
    position: relative;
    width: 100%;
    height: 110vh;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50%;
    right: 25% !important;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0;
}
.carousel-indicators button{
    background-color: black;
}
.carousel-caption{
    position: absolute;
    top:30% !important;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: green !important;
    width: 35px !important;
}